@import url("../css/awesome.css");
@import url("../css/import.css");
@import url("../css/pricing.css");
 
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.conteiner {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.html{
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.title {
    color: #212121;
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: 300;
    text-align: center;
    margin-bottom: 35px;
}

.card__title {
    color: #333;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}
